{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
[".config/nvim"]
{{ else if eq .chezmoi.os "windows" }}
["./AppData/Local/nvim"]
{{ end }}
    type = "git-repo"
    url = "https://github.com/venson999/nvim.git"

# zsh plugins
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting"

[".oh-my-zsh/custom/plugins/you-should-use"]
    type = "git-repo"
    url = "https://github.com/MichaelAquilina/zsh-you-should-use"

[".oh-my-zsh/custom/plugins/zsh-bat"]
    type = "git-repo"
    url = "https://github.com/fdellwing/zsh-bat"
{{ end }}
