{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
[".config/nvim"]
{{ else if eq .chezmoi.os "windows" }}
["./AppData/Local/nvim"]
{{ end }}
    type = "git-repo"
    url = "https://github.com/venson999/nvim.git"
