[user]
  name = venson999
  email = venson999@126.com
{{ if eq .chezmoi.os "linux" }}
[core]
  autocrlf = input
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
{{ else if eq .chezmoi.os "windows" }}
[core]
  autocrlf = true
[credential "helperselector"]
  helper = manager
{{ end }}
