[user]
	name = venson999
	email = venson999@126.com
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = !gh auth git-credential
{{ else if eq .chezmoi.os "windows" }}
[core]
	autocrlf = true
[credential "helperselector"]
	helper = manager
{{ end }}